.single__todo {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: space-between;
  background: dodgerblue;
  margin-top: 10px;
  width: 50%;
  padding: 10px;
  border-radius: 2px;
}

.single__todo .icon {
  cursor: pointer;
}

.strike {
  text-decoration: line-through 2px;
}

.edit__text {
  width: 80%;
}

@media (max-width: 400px) {
  .single__todo {
    width: 60%;
  }
}
